

.usercrown{


display: flex;
width:60%;
margin: auto;

justify-content: center;
gap: 16%;

border-bottom: 1px solid rgb(239,239,239);
height:220px



}

.userinfo{


display: flex;
width: 100%;;
gap: 4%;
align-items: center;
height: 40px;
margin-top: 2%;

}

.usercrown>div:nth-child(2){

    width: 50%;
margin-top: 2%;

    }





.usercrown>div:nth-child(1){

width: 18%;
height: 160px;
margin-top: 4%;

}

.usercrown>div:nth-child(1) img{

width:100%;
height:100%;
border-radius: 50%;

}
.userinfo button{
border-radius: 2%;
width:25%;
height: 30px;
font-size: 15px;
border: 0.5px solid rgb(239,239,239);

}
.userinfo .settingicon{

font-size: 25px;


}

.userinfo p{

font-size: 30px;

}
.userassets{

    display: flex;
    gap: 10%;
}


.userabout{

margin-top: 2%;

}