@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color:black !important;
}
.navV{
    padding: 5px;
}

.brand-logo{
font-family: 'Grand Hotel', cursive;
}
.imgNamediv{
    border-bottom: 3px solid grey;
    width: 70%;
    margin: auto;
    margin-top: 2%;
    display: flex;
}
.imgNamediv > div:nth-child(1){
flex: 1;
}

.imgNamediv > div:nth-child(2){
flex: 2;
}
.profileImgV{
    width: 60%;
    margin-left: 20%;
    border-radius: 50%;

}
.GalleryBoxV{
    /* border: 1px solid black; */
    width: 80%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 2%;
    row-gap: 20px;

}
.PicItemV{
    width: 100%;
    border-radius: 10%;
}

.home-cardV{
    width: 40%;
    margin: 0px auto;
    height: max-content;
    padding: 0% 1%;
}
.createPostBoxV{
    max-width: 60%;
    margin: 1% auto;
    padding: 20px;
    text-align: center;
    margin-top: 5%;
}
.mycard{
    margin-top: 30px;
  }
  .auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
  }
  
  .input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
  }

