@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color:black !important;
}

.brand-logo{
font-family: 'Grand Hotel', cursive;
}
.imgNamediv{
    border-bottom: 3px solid grey;
    width: 70%;
    margin: auto;
    margin-top: 2%;
    display: flex;
}
.imgNamediv > div:nth-child(1){
flex: 1;
}

.imgNamediv > div:nth-child(2){
flex: 2;
}
.profileImgV{
    width: 60%;
    margin-left: 20%;
    border-radius: 50%;

}
.GalleryBoxV{
    /* border: 1px solid black; */
    width: 80%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 2%;
    row-gap: 20px;

}
.PicItemV{
    width: 100%;
    border-radius: 10%;
}
