@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color:black !important;
}
.navV{
    padding: 5px;
    /* border: 1px solid black; */
    width: 70%;
    margin: auto;
}

.brand-logo{
font-family: 'Grand Hotel', cursive;
}
.imgNamediv{
    border-bottom: 3px solid grey;
    width: 70%;
    margin: auto;
    margin-top: 2%;
    display: flex;
}
.imgNamediv > div:nth-child(1){
flex: 1;
}

.imgNamediv > div:nth-child(2){
flex: 2;
}
.profileImgV{
    width: 60%;
    margin-left: 20%;
    border-radius: 50%;

}
.GalleryBoxV{
    /* border: 1px solid black; */
    width: 80%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 2%;
    row-gap: 20px;

}
.PicItemV{
    width: 100%;
    border-radius: 10%;
}
.followBoxV{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.home-cardV{
    width: 40%;
    margin: 0px auto;
    height: max-content;
    padding: 0% 1%;
}
.createPostBoxV{
    max-width: 60%;
    margin: 1% auto;
    padding: 20px;
    text-align: center;
    margin-top: 5%;
}
#navbarV{
    background-color: white;
    box-shadow: none;
}
.mycard{
    margin-top: 30px;
  }
  .auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
  }
  
  .input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
  }



.leftImageV{
    width: 70%;
}

#MainBoxLoginV{
    display: flex;
    width: 60%;
    margin: 1% auto;
}

.rightDetailsBoxV{
    /* border: 1px solid black; */
    flex: .9;   
    text-align: center;
}

.rightboxVdetails{
    /* border: 1px solid black; */
    flex: 0.6;
    padding: 0px;
}

.inputoneV{
    width: 80%;
    /* border: 1px solid black; */
    margin: auto;
    

}
.InpButtV{
    width: 100%;
    height: 35px;
    margin-top: 3%;
    background-color: rgb(178,223,252);
    border: none;
    font-weight: bolder;
    color: white;
}

.instaV{
    width: 40%;
    margin: auto;
    margin-top: 4%;
}

.instaV > img{
    width: 100%;
}

.or{
    text-align: center;
    font-size: 20px;
    display: flex;
    width: 80%;
    margin: auto;
    gap: 10px;
    margin-top: 30px;
}

.or > div:nth-child(odd){
    border-bottom: 1px solid black;
    flex: 2;
    height: 18px;
    border-color: gray;
}

.lofFBV{
    display: flex;
    color: navy;
    font-weight: 600;
    width: 70%;
    margin: auto;
padding: 0px 45px;
margin-top: 20px;
}
.lofFBV > img {
    width: 12%;
}
.forget{
    text-align: center;
    /* border: 1px solid black; */
    margin-top: 10px;

}
.top{
    margin-top: 30px;
}